@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgba(201, 137, 221, 0.9) -8.54%, rgba(133, 202, 250, 0.9) 108.12%);
  border-radius: 10px;
}
@font-face {
  font-family: Avenir;
  font-weight: 700;
  src: url(../public/font/AvenirNextLTPro/AvenirNextLTPro-Bold.otf) format("opentype");
}

@font-face {
  font-family: Avenir;
  font-weight: 600;
  src: url(../public/font/AvenirNextLTPro/AvenirNextLTPro-Demi.otf) format("opentype");
}

@font-face {
  font-family: Avenir;
  font-weight: 500;
  src: url(../public/font/AvenirNextLTPro/AvenirNextLTPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: Avenir;
  font-weight: 300;
  src: url(../public/font/AvenirNextLTPro/AvenirNextLTPro-UltLt.otf) format("opentype");
}